<% provide(:title, "Login") %>
<div class="jumobtron">
    <%= render 'shared/flash' %>
    <h1>Login</h1>
</div>

<div class=container>
    <% if(logged_in?) %>
        <%= redirect_to user_path %>
    <% else %>
        <%= render "users/login_form" %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <% end %>
</div>