<% provide(:title, "Login") %>
<div class="jumobtron">
    <%= render 'shared/flash' %>
    <h1>Login</h1>
</div>

<% if(logged_in?) %>
    <%= redirect_to user_path %>
<% else %>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
        <%= render "users/login_form" %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
    </div>
<% end %>