<h1>Bricked Electronics Shop</h1>
<h2>Account activation</h2>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Bricked Electronics! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>