<li>
  <section class="user_info" style="padding:10px 0; margin:10px 0; border-bottom: 3px #666 solid;">
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, data: { confirm: "You are sure you want to delete #{user.name}'s account?" } %>
  <% elsif current_user?(user) %>
    | <%= link_to "delete my account", user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>
  <% end %>
  </section>
</li>