<li>
  <section class="user_info">
  <%= gravatar_for user, size: 60 %>
  <h4>
    <%= link_to user.name, user %>
  </h4>
  <h6 class="col-offset-sm-2">
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "delete", user, method: :delete, data: { confirm: "You are sure you want to delete #{user.name}'s account?" } %>
    <% elsif current_user?(user) %>
      <%= link_to "delete my account", user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>
    <% end %>
  </h6>
  </section>
</li>