
<% provide(:title, "Account") %>

<div>
    <p class="storeTitle">Account Page</p>
</div>

<div class=container>
<%=
    if(logged_in?)
        render "users/form"
    else
        render "users/manage"
    end
%>
</div>
