<% provide(:title, "Account") %>
<div class="jumobtron">
    <h1 id="acc_h1">
        <%= if logged_in?
                "Account Page"
            else 
                "Login Page"
            end %>
        </h1>
</div>

<div class=container>
<%=
    if(logged_in?)
        redirect_to users_path
    else
        render "users/form"
    end
%>
</div>
