<% provide(:title, "Signup") %>
<div class="jumobtron">
    <%= render 'shared/flash' %>
    <h1>Signup</h1>
</div>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <%= render "users/signup_form" %>
    </div>
</div>