<% provide(:title, 'My Reviews') %>
<div class="container">
  <div class="row">
    <%= render 'users/sidebar' %>
    
    <div class="col-md-8 col-offset-md-3">
      <%= render 'shared/flash' %>
      <% if current_user? @user %>
        <h1>Your Reviews</h1>
      <% else %>
        <h1>Their Reviews</h1>
      <% end %>
      <%#= @user.microposts %>
    </div>
    
  </div>
</div>