<div id="flash_msg" class="container text-center" style="width:inherit;">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
</div>