<div id="footer">
	<p><a href=<%= navigation_path %>>Site Map</a> &#9|&#9 Created by Tanner Crocker &#9|&#9 Like what you see? <a href="mailto:tec@email.uscupstate.edu">Contact me</a></p>
</div>	<!--footer div-->