<footer style=" bottom:300px; margin-top: auto;">
    <%#= render "shared/debugger" if Rails.env.development? %>
    <nav class="navbar navbar-inverse">
        <ul class="navbar-nav navbar-right" style="margin-right:10px">
    		<li><%= link_to "Navigation", navigation_path, class:"navbar-link" %></li>
    		<li><%= link_to "About", about_path, class:"navbar-link" %></li>
    		<li><%= link_to "Help", help_path, class:"navbar-link" %></li>
            <li><%= link_to "Contact", contact_path, class:"navbar-link" %></li>
        </ul>
    </nav>
</footer>