<% provide(:title, "About") %>
<div class="jumobtron">
    <h1>About Page</h1>
    <h2>This is a demo webpage of an enterprise solution.</h2>
    <h6 class="text-center">Thanks for the bootstrap glyphs, <%= link_to "glyphicons.com", "http://glyphicons.com/" %>!</h6>
</div>