<head>
    <script type="javascript/text" src="account_page.js">
         
    </script>
</head>
<% provide(:title, "Account") %>
<br>

<div>
    Account Page
</div>

<br>


<div>
    
</div>

<div class="acc_form" style="display:inherit">
    <span>You must login/register to use this webpage.</span>
    <div id="account_form" class ="container">
        <header>
            <div class="acc_form_btn_outline">
                <button class="form_head_btn" id="btn_login" onclick="toggle_acc_form()">Log In</button>
            </div>
            <div class="acc_form_btn_outline">
                <button class="form_head_btn" id="btn_register" onclick="toggle_acc_form()">Register</button>
            </div>
        </header>
        <body>
            <div id="acc_form_login" style="display:hidden;">login
                
                <%#= form_for (@user) do |f| %>
                  <%#= f.label :email %>
                  <%#= f.email_field :email, class: 'form-control' %>
            
                  <%#= f.label :password %>
                  <%#= f.password_field :password, class: 'form-control' %>
            
                  <%#= f.submit "Submit", class: "btn btn-primary" %>
                <%# end %>
                <%# User.log_in(@params) %>
                
            </div>
            <div id="acc_form_new" style="display:hidden;">new user
                <%#.for form_for User.new %>
            </div>
        </body>
    </div>
</div>

<div class="account_info" style="display:hidden;">
    On this page, you'll be able to manage information about your account.
</div>

<br>
