<% provide(:title, "Account") %>
<br>

<div>
    Account Page
</div>

<br>

<div>
    You must login/register before you can view this stuff.
</div>

<br>

<div>
    On this page, you'll be able to manage information about your account.
</div>

<br>
