<head>
    <script type="javascript/text" src="account_page.js">
         
    </script>
</head>
<% provide(:title, "Account") %>

<div>
    <p class="storeTitle">Account Page</p>
</div>

<div>
    
</div>

<div class=container>
<%=
    if(!User.find(1))
        render "account/form"
    else
        render "account/manage"
    end
%>
</div>
