<% provide(:title, "Contact") %>
<div class="jumobtron page-header">
    <h1>Contact Page</h1>
    <h2>Want to get in touch with the dev?<br>
        <%= link_to "Email me!", "mailto:tec@email.uscupstate.edu" %></h2>
</div>
