<% provide(:title, "Contact") %>
<div>
    <p class="storeTitle">Contact Page</p>
</div>

<div class="container">
    <p>
        Want to get in touch with the dev?<br>
        <%= link_to "Email me!", "mailto:tec@email.uscupstate.edu" %>
    </p>
</div>