<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>BE - Help</title>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css"></link>
	<meta charset = "utf-8">
</head>

<body>
    <h2>Welcome to the help page. This page is still being set up.</h2>
</body>
</html>

