<% provide(:title, "Help") %>
<br>

<div>
    Help Page
</div>

<br>

<div>
    How can we help you?
</div>

<div>
    <ul>
        <li>Account Issues</li>
        <li>Problem with My Order</li>
        <li><a href=<%= pages_navigation_path %>>Navigating the Site</a></li>
        <li>Customer Support</li>
    </ul>
</div>