<% provide(:title, "Help") %>
<div class="jumobtron page-header">
    <h1>Help Page</h1>
    <h2>How can we help you?</h2>
    
    <div class="container">
    <h3>
        <ul style="list-style:none;text-align:left;">
            <li style="margin-bottom:5px;">Account Issues</li>
            <li style="margin-bottom:5px;">Problem with My Order</li>
            <li style="margin-bottom:5px;"><%= link_to "Navigating the Site", navigation_path %></li>
            <li style="margin-bottom:5px;">Customer Support</li>
        </ul>
    </h3>
    </div>
</div>