<% provide(:title, "Help") %>
<div class="jumobtron">
    <h1>Help Page</h1>
    <h2>How can we help you?</h2>
    
    <ul style="padding-left:0px; list-style:none;" class="align-left text-center">
        <li style="margin-bottom:5px;"><h4>Account Issues</h4></li>
        <li style="margin-bottom:5px;"><h4>Problem with My Order</h4></li>
        <li style="margin-bottom:5px;"><h4><%= link_to "Navigating the Site", navigation_path %></h4></li>
        <li style="margin-bottom:5px;"><h4>Customer Support</h4></li>
    </ul>
</div>