<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Bricked Electronics</title>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css"></link>
	<meta charset = "utf-8">
</head>

<body>
	<header class="headerbarContainer">
		<div class="dropdown">
			<p>Products</p>
			<div class="dropdown-content">
				<div class="prodItems">
					<a>Television</a>
				</div>
				
				<div class="prodItems">
					<a>Personal Computers</a>
				</div>
				
				<div class="prodItems">
					<a>Radios</a>
				</div>
				
				<div class="prodItems">
					<a>Cell Phones</a>
				</div>
				
				<div class="prodItems additionalSelect">
					
				</div>
            </div>
		</div>
		
		<div class="dropdown">
			<p>Reviews</p>
			<div class="dropdown-content">
                <ul class="dropdownList">See reviews for:
                	<!--  TODO Generate list(s) via JScript -->
                    <li>Televisions</li>
                    <li>Monitors</li>
                    <li>Personal Computers</li>
                    <li>Radios</li>
                    <Li>Cell Phones</Li>
                    <Li>Any product</Li>
                </ul>
            </div>
		</div>
		
		<div class="dropdown">
			<p>Login/Register</p>
			<div class="dropdown-content">
                <form>
                    Username
                    <input type="text">
                    Password
                    <input type="text">
                    
                    <br>
                    
                    <submit type="button">
                        <button class="button btn-login">Login</button>
                    </submit>
                    <submit type="button">
                        <button class="button btn-register">Register</button>
                    </submit>
                </form>
            </div>
		</div>
		
	</header>

	<p class="storeTitle">
		Bricked Electronics Shop
	</p>
	
	<p class="storeMotto">
		We can't fix what isn't bricked!
	</p>
	
	<div class="featured">
	    Try this product! <br>
	    Also, look at this review for this product.
	</div>
	
	<div class="userReviews">
	    <h>User Reviews will be here</h>
		<ul class="reviewList">
		    
		</ul>
	</div>
	
	<div>
		<script>
			var i = 100;
			while(i > 1)
			{
				document.write(i + "<br>");
				i -= 5;
			}
		</script>
	</div>
	
	<div id="footer">
		<p>CopyRights and ish</p>
	</div>
</body>
</html>

