<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Bricked Electronics</title>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css"></link>
	<meta charset = "utf-8">
</head>

<body>
	
	<div id=header>
		<div>
			<div class="dropdown">
				<span>Products</span>
				<div class="dropdown-content">
					<p>Phones</p>
					<p>Computers</p>
					<p>Monitors</p>
					<p>Televisions</p>
				</div>
			</div>
		
			<div class="dropdown">
				<span>Reviews</span>
				<div class="dropdown-content">
					<p>Phones</p>
					<p>Computers</p>
					<p>Monitors</p>
					<p>Televisions</p>
				</div>
			</div>
		
			<div class="dropdown">
				<span>Login/Register</span>
				<div id="logindropdown" class="dropdown-content">
					<form id="login">
						<input required=' ' type="text">
						<label alt="Email"></label>
						
						<input required=' ' type="text">
						<label alt="Password"></label>
						
						<button>Confirm</button>
					</form>
				</div>
			</div>
		
		</div> <!--drop potions-->
		
	</div>	<!--header div-->
	
	
	
	<div id="body">
		<p class="storeTitle">
			Bricked Electronics Shop
		</p>
		
		<p class="storeMotto">
			You brick it, we fix it!
		</p>
		
		<div class="featured">
		    Try this product! <br>
		    Also, look at this review for this product.
		</div>
		
		<a href="/pages/home"><img src="../../assets/images/store_home.png" alt="Home Icon"></img></a>
		
		<div class="userReviews">
		    <h>User Reviews will be here</h>
			<ul class="reviewList">
			    
			</ul>
		</div>
		
		<div>
			<input type="text" id="fname" onchange="alert('Text has changed')">
			<button id="btn" type="button" onclick="alert('Test')">Click Me!</button>
			<p id="demo"></p>
			<script>
			
				document.getElementById("btn").onclick = function(){displayDate()};
				
				function displayDate() {
					document.getElementById("demo").innerHTML = Date();
				}
				
				var i = 100;
				while(i > 1)
				{
					document.write(i + "<br>");
					i--;
				}
			</script>
		</div>
	</div>	<!--body div-->
	
	<div id="footer">
		<p>Created by Tanner Crocker &#9|&#9 Like what you see? <a href="mailto:tec@email.uscupstate.edu">Contact me</a></p>
	</div>	<!--footer div-->
</body>
</html>

