<% provide(:title, "Home") %>
<body>
	<div id="body">
		<p class="storeTitle">
			Bricked Electronics Shop
		</p>
		
		<p class="storeMotto">
			You brick it, we fix it!
		</p>
		
		<div class="featured">
		    <h3>Try this product!</h3>
			<img src="featured_ad.png"></img>
		    <div>Also, look at this review for this product.</div>
		</div>
		
		<div class="userReviews">
			<ul class="reviewList">
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			</ul>
		</div>
		
		<div>
			<a href=<%= pages_help_path %>>Help</a>
			<a href=<%= pages_about_path %>>About</a>
			<a href=<%= pages_shop_path %>>Shop</a>
			<a href=<%= pages_account_path %>>Account</a>
		</div>
		
		<script>
			// for(i = 100; i > 0; i--)
			// 	document.write(i + "<br>");
		</script>
	</div>	<!--body div-->
</body>
</html>

