<% provide(:title, "Home") %>
<head>
	<script src="slideshow.js" type="text/javascript">
	</script>
</head>
<body>
	<div id="body">
		<p class="storeTitle">
			Bricked Electronics Shop
		</p>
		
		<p class="storeMotto">
			You brick it, we fix it!
		</p>
		
		<div class="featured">
			<div id="feat_img">
				<!--<img id="slideshowImage" src="featured_product_1.jpg" width="250px"><a src="" alt="click to view product"></a></img>-->
				<%= image_tag("featured_product_1.jpg", alt:"feat. img", id:"slideshowImage", onload:"featured_slideshow(0)") %>
				<script type="text/javascript">
					//featured_slideshow(0);
				</script>
			</div>
			<div id="feat_rvw">
				
			</div>
			<img src="featured_ad.png" width="100%" alt="Featured Product(s)"></img>
		    <div>Also, look at this review for this product.</div>
		</div>
		
		<div class="userReviews">
			<ul class="reviewList" style="padding:0;">
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			</ul>
		</div>
		
		<script>
			// for(i = 100; i > 0; i--)
			// 	document.write(i + "<br>");
		</script>
	</div>	<!--body div-->
</body>
</html>

