<% provide(:title, "Home") %>
<head>
</head>
<body>
	<div id="body">
		<p id="storeTitle">
			Bricked Electronics Shop
		</p>
		
		<p class="storeMotto">
			You brick it, we fix it!
		</p>
		
		<div class="featured">
			<div id="feat_img">
				<%= image_tag("featured_product.jpg", alt:"featured product image") %>
			
			</div>
			<div class="featured-review">
				
			</div>
		</div>
		
		<div class="userReviews">
			<ul class="reviewList" style="padding:0px;">
			    
			</ul>
		</div>
		
		<script>
			// for(i = 100; i > 0; i--)
			// 	document.write(i + "<br>");
		</script>
	</div>
</body>
</html>

