<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Bricked Electronics</title>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css"></link>
	<meta charset = "utf-8">
</head>

<body>
	<header class="headerbarContainer">
		<div class="dropdown">
			<p>Products</p>
			<div class="dropdown-content">
                <ul class="dropdownList">
                	<!--  TODO Generate list(s) via JScript -->
                    <li>Televisions</li>
                    <li>Monitors</li>
                    <li>Personal Computers</li>
                    <li>Radios</li>
                    <Li>Cell Phones</Li>
                </ul>
            </div>
		</div>
		
		<div class="dropdown">
			<p>Reviews</p>
			<div class="dropdown-content">
                <ul class="dropdownList">See reviews for:
                	<!--  TODO Generate list(s) via JScript -->
                    <li>Televisions</li>
                    <li>Monitors</li>
                    <li>Personal Computers</li>
                    <li>Radios</li>
                    <Li>Cell Phones</Li>
                    <Li>Any product</Li>
                </ul>
            </div>
		</div>
		
		<div class="dropdown">
			<p>Login/Register</p>
			<div class="dropdown-content">
                <form>
                    Username
                    <input type="text">
                    Password
                    <input type="text">
                    
                    <br>
                    
                    <submit type="button">
                        <button class="button btn-login">Login</button>
                    </submit>
                    <submit type="button">
                        <button class="button btn-register">Register</button>
                    </submit>
                </form>
            </div>
		</div>
		
	</header>

	<h2 class="storeTitle">
		Bricked Electronics Shop
	</h2>
	
	<h5 class="storeMotto">
		Bad electronics are what we're about!
	</h5>
	
	<div class="featured">
	    Try this product!
	</div>
	
	<div class="userReviews">
	    <h>User Reviews</h>
		<ul class="reviewList">
		    
		</ul>
	</div>
	
</body>
</html>

