<% provide(:title, "Home") %>
<div class="jumobtron">
	<h1>Bricked Electronics Shop</h1>
	<h2>Not your average Lego&trade; kit</h2>
</div>

<div id="featured_page">
	<div id="featured_product" class="row">
		<div class="col-md-8 col-md-offset-2">
			<%= render @reviews[0].product %>
		</div>
	</div>
	<ol id="feat_review_list" class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= render @reviews %>
        </div>
    </ol>
</div>