<% provide(:title, "Home") %>
<body>
	<div id="body">
		<p class="storeTitle">
			Bricked Electronics Shop
		</p>
		
		<p class="storeMotto">
			You brick it, we fix it!
		</p>
		
		<div class="featured">
		    <h3>Try this product!</h3>
			<img src="featured_ad.png" width="100%" alt="Featured Product(s)"></img>
		    <div>Also, look at this review for this product.</div>
		</div>
		
		<div class="userReviews">
			<ul class="reviewList" style="padding:0;">
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			    <li>I'm a review!</li>
			</ul>
		</div>
		
		<script>
			// for(i = 100; i > 0; i--)
			// 	document.write(i + "<br>");
		</script>
	</div>	<!--body div-->
</body>
</html>

