<% provide(:title, "Home") %>
<div class="jumobtron">
	<h1>Bricked Electronics Shop</h1>
	<h2>Not your average Lego&trade; kit</h2>
</div>

<div class="container-fluid"></div>

	<%#= Get a random featured product %>
	<%= #Get the image of the PID
		image_tag("featured_product.jpg", alt:"featured product image", class: "img-responsive center-block") %>
	
	 <%= #Get the review for the product 
	 	content_tag(:h3, "Featured Review", class: "center")
	 %>
</div>