/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	height:100%;
	padding-top:50px;
	font-size:13pt;
	font-family: monospace;
	margin:auto;
	text-align: center;
	background: #f1f1f1 url("store_bg_wide.png") repeat-x 50px 0px scroll;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #00AADD;
	text-decoration: underline;
}

img {
  outline: none;
}

.storeTitle {
	font-size: 30px;
	font-family: monospace;
	text-decoration: overline underline;
	color: #b75a5a;
	margin: 30px;
}

.storeMotto {
	font-style: italic;
}


/*  Begin header stuff  */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:-15px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 10px;
    z-index: 1;
}
#logindropdown {
	min-width: 15em;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

#header div .dropdown {
    padding:10px;
    
    border: 2px solid #fafa00;
    border-top: hidden;
    border-bottom: hidden;
}
/*  http://ianlunn.github.io/Hover/  */
#header div .dropdown:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  background: #fafa00;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#header div .dropdown:after{
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fafa00;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#header div .dropdown:hover:before,
#header div .dropdown:focus:before,
#header div .dropdown:active:before,
#header div .dropdown:hover:after,
#header div .dropdown:focus:after,
#header div .dropdown:active:after{
  left: 0;
  right: 0;
}

#login {
  margin: 10px;
}


/*  Begin header login texts  */
#login input[type="text"]{
  box-sizing: border-box;
  width: 100%;
  height: 3em;
  margin: 0 0 1em;
  padding: 0 1em;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
  outline: none;
}

#login input[type="text"][required]:focus{
	border-color: #008fdf;
}

#login input[type="text"][required]:focus + label[alt]:before{
	color: #008fdf;
}
#login input[type="text"][required]:focus + label[alt]:before,
#login input[type="text"][required]:valid + label[alt]:before{
  transition-duration: .2s;
  transform: translate(0, -1.3em) scale(0.9, 0.9);
}
#login input[type="text"][required]:invalid + label[alt]:before{
  content: attr(alt);
}
#login input[type="text"][required] + label[alt]{
  display: block;
  pointer-events: none;
  line-height: 2em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
#login input[type="text"][required] + label[alt]:before{
  content: attr(alt);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
}
/*  End of header login texts  */


/*  Begin header login buttons  */
#login button[confirmtype="login"], #login button[confirmtype="register"]{
  margin: 5px;
  margin-top: 0px;
  padding: 0.5em 1.5em;
  color:#000;
  background-color: transparent;
  transition: background-color 0.3s;
}
#login button[confirmtype="login"]{
  margin-right: 0px;
  border-color: #2aaf69
}
#login button[confirmtype="register"]{
  margin-left: 0px;
  border-color: #9e2489;
}

#login button[confirmtype="login"]:hover{
  color: #fff;
  background-color: #2aaf69;
}

#login button[confirmtype="register"]:hover{
  color: #fff;
  background-color: #9e2489;
}
/*  End of header login buttons  */

/*  Begin shopping cart stuff  */
#togglecartdisplay {
  background-color: inherit;
  border:none;
  padding:0px;
}
#shoppingcart {
  display: none;
  position: relative;
}
#headercart:onlick #shoppingcart{
  display: inline-block;
}
/*  End of shopping cart stuff  */

/*  End of header stuff  */


#footer {
	margin:0px;
	margin-top:5px;
	
	padding-top:1em;
	
	font-size: 8pt;
	text-align: center;
	height: 4em;   /* footer uses static height */
	position: static;
	bottom:0;
	
	background-color: #dedede;
}