/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
	font-size: large;
	font-family: monospace;
}

body {
	height:100%;
	padding-top:50px;
	margin:auto;
	text-align: center;
	background: #f1f1f1 url("store_bg_wide.png") repeat-x 50px 0px scroll;
}
a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #00AADD;
	text-decoration: underline;
}

img {
  outline: none;
}

button{
  cursor: pointer;
}

.storeTitle {
	font-size: 30px;
	font-family: monospace;
	text-decoration: overline underline;
	color: #ad3f3f;
	margin: 30px;
}

.storeMotto {
	font-style: italic;
}


/*  Begin header stuff  */
.dropdown {
    position: relative;
    display: inline-block;
    color: #fafafa;
    cursor: default;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -10%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 10px;
    z-index: 1;
    font-size: medium;
}
#logindropdown {
	min-width: 100px;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

#header div .dropdown {
  padding:10px;
  
  border: 2px solid #fafa00;
  border-top: hidden;
  border-bottom: hidden;
}
#header div .dropdown:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  background: #fafa00;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#header div .dropdown:after{
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fafa00;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#header div .dropdown:hover:before,
#header div .dropdown:focus:before,
#header div .dropdown:active:before,
#header div .dropdown:hover:after,
#header div .dropdown:focus:after,
#header div .dropdown:active:after{
  left: 0;
  right: 0;
}


/*  Begin header product content  */
.dropdown-content div {
  padding:0.5em;
  margin:0.4em;
  width: 80%;
  color: #000000;
  text-decoration: none;
  transition-duration: 0.2s;
  box-shadow: 0px 0px 0px transparent;
}
.dropdown-content div:hover{
  color: #fdfdfd;
  background-color: #2f2f3f;
  box-shadow: 5px 5px 15px 2px #888888;
  cursor: pointer;
}
/*  End header product content  */


#login {
  margin: 10px;
  min-width: 200px;
}

/*  Begin header login texts  */
input[type="text"] {
  box-sizing: border-box;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  /*border: 1px solid #ccc;*/
  background: #fff;
  resize: none;
  outline: none;
}
#login input[type="text"] {
  width:100%;
}

input[type="text"]:focus{
	border-color: #004fdf;
	border-style: solid;
}

input[type="text"]:focus + label[alt]:before{
	color: #004fdf;
}
input[type="text"]:focus + label[alt]:before,
input[type="text"]:valid + label[alt]:before{
  transition-duration: .2s;
  transform: translate(0, -1.3em) scale(0.9, 0.9);
}
#keyword-search input[type="text"]:focus + label[alt]:before {
  background-color: #d8d8d8;
  transition-delay: 0.3s;
  transform: translate(0, -1.7em) scale(0.9, 0.9);
}
input[type="text"]:invalid + label[alt]:before{
  content: attr(alt);
}
input[type="text"] + label[alt]{
  display: block;
  pointer-events: none;
  line-height: 2em;
  margin-top: -2.8em;
  margin-bottom: 2.8em;
}
#keyword-search input[type="text"] + label[alt]{
  display: block;
  pointer-events: none;
  line-height: 2em;
  margin-top: -2.3em;
  margin-left: 8%;
}
input[type="text"] + label[alt]:before{
  content: attr(alt);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
}/*
#login input + label[alt="Password"]{
  margin-bottom: 0.5em;
}
/*  End of header login texts  */


/*  Begin header login buttons  */
#login button{
  display:inline;
  max-width: 90px;
  border-style: solid;
  /*left:0;*/
}

#login button[confirmtype="login"], #login button[confirmtype="register"]{
  margin: 0px 5px;
  padding: 0.5em 1.5em;
  color:#000;
  background-color: transparent;
  transition: background-color 0.3s;
}
#login button[confirmtype="login"]{
  margin-left: 0px;
  border-color: #2aaf69;
}
#login button[confirmtype="register"]{
  margin-right: 0px;
  border-color: #9e2489;
  /*right:0;*/
}
#login button[confirmtype="login"]:hover{
  color: #fff;
  background-color: #2aaf69;
  border-color: #0a8f49;
}

#login button[confirmtype="register"]:hover{
  color: #fff;
  background-color: #9e2489;
  border-color: #7e0469;
}
/*  End of header login buttons  */

/*  Begin shopping cart stuff  */
#cartdropdown{
  padding: 1.5em;
  color: #000000;
  min-width: 200px;
}
#cartdropdown:before,#cartdropdown:after{
  content: "";
  position: absolute;
  z-index: -1;
  background: #fafa00;
  height: 3px;
  width: 0%;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#cartdropdown:before{
  left: 0;
  top: 0;
}
#cartdropdown:after{
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  right: 0;
  bottom: 0;
}
#cartdropdown:hover:before, #cartdropdown:hover:after{
  width:100%;
}
#cartdropdown span {
  pointer-events:none;
}
/*  End of shopping cart stuff  */

/*  End of header stuff  */


#footer {
	margin:0px;
	margin-top:10px;
	
	padding: 0.5em;
	
	font-size: 8pt;
	text-align: center;
	
	/*position: fixed;*/
	bottom:0;
	
	background-color: #dedede;
	
	z-index: -5;
}

a[id=inheritLinks] {
  text-decoration: inherit;
  color:inherit;
}

.reviewList {
  list-style-type: none;
}


table#productTable {
  margin:auto;
  border-collapse: collapse;
}
table#productTable th {
  color: black;
  background-color: #ddd;
}
table#productTable tr:nth-child(even) {
  background-color: #fdfdfd;
}
table#productTable tr:nth-child(odd) {
  background-color: #f3f3f3;
}