/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	height:100%;
	padding-top:10px;
	font-size:13pt;
	font-family: monospace;
	margin:auto;
	text-align: center;
	background: #f1f1f1 url("store_bg_wide.png") repeat-x 50px 0px scroll;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #00AADD;
	text-decoration: underline;
}

.storeTitle {
	font-size: 30px;
	font-family: monospace;
	text-decoration: overline underline;
	color: #b75a5a;
	margin: 30px;
	margin-top:10px;
}

.storeMotto {
	font-style: italic;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 10px;
    z-index: 1;
}
#logindropdown {
	min-width: 15em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#header{
	margin-top:40px;
}

#header div .dropdown {
    padding:10px;
    
    border-right:solid;
    border-right-color: #004f00;
    border-left: solid;
    border-left-color: #004f00;
}

#login input{
	box-sizing: border-box;
	width:100%;
	height: 2em;
	margin: 0 0 1em;
	padding: 1em;
	border: 1px solid #c0c0c0;
	background: #ffffff;
	resize: none;
	outline:none;
}

#footer {
	margin:0px;
	padding-left:0px;
	padding-right:0px;
	font-size: 8pt;
	height:20px;   /* footer uses static height */
	position: static;
	bottom:0;
	width:100%;
}