/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@mixin hyperlink_hover {
	color: #00AADD;
	text-decoration: underline;
}



html {
	font-size: large;
	font-family: monospace;
}

body {
	height:100%;
	padding-top:50px;
	margin:auto;
	text-align: center;
	background: #f1f1f1 URL("store_bg_wide.png") repeat-x 55px 0px scroll;
}
a {
	color: inherit;
	text-decoration: underline;
}

img {
  outline: none;
  border: none;
}

button{
  cursor: pointer;
}

header{
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}

header div{
  display: inline;
}

header .header_btn{
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  background: none;
}

header .header_btn{
  border: 3px transparent solid;
  border-left-color: #fafa00;
}

header .header_btn:hover{
  border-bottom-color: #fafa00;
  border-left-color: transparent;

  -webkit-transition: border-left-color border-bottom-color 3s ease-out;
  -moz-transition: border-left-color border-bottom-color 3s ease-out;
  transition: border-left-color border-bottom-color 3s ease-out;
}

header .header_btn a{
  color: #fafafa;
  text-decoration: none;
}