@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 50px;
  background: #f1f1f1 URL("store_bg_wide.png") repeat-x 55px 0px scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#header {
  margin-left: auto;
  margin-right: auto;
  
  li{
    a{
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      -moz-transition: margin 0.5s ease;
      -webkit-transition: margin 0.5s ease;
      transition: margin 0.5s ease;
      
      &:hover{
        margin-left: 4px;
        margin-right: 4px;
        border-bottom-color: rgba(255, 255, 255, 1);
        
        -moz-transition: margin 0.5s ease;
        -webkit-transition: margin 0.5s ease;
        transition: margin 0.5s ease;
        
      }
    }
    
    .cart_btn{
      background: none;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      -moz-transition: margin 0.5s ease;
      -webkit-transition: margin 0.5s ease;
      transition: margin 0.5s ease;
      
      &:hover{
        margin-left: 4px;
        margin-right: 4px;
        border-bottom-color: rgba(255, 255, 255, 1);
        
        -moz-transition: margin 0.5s ease;
        -webkit-transition: margin 0.5s ease;
        transition: margin 0.5s ease;
      }
      
      &:focus{
        outline:none;
      }
    }
  }
}

/* Cart Popup */
#cart{
  #cart_header{
    width: 80%;
    border-bottom: #888 2px solid;
  }
  
  #cart_list{
    h5{
      margin: 10% 30%;
    }
    table{
      
    }
  }
}

/* footer */

footer {
  ul {
    float: right;
    list-style: none;
    
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Featured Page */
#featured_page{
  margin: inherit 1%;
  #featured_product{
    
  }
  #featured_review{
    list-style-type: none;
  }
}

/* user sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* show user -> reviews index */
.reviews{
  list-style-type: none;
  
  .reviewLine {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px #666 solid;
    
    h5, h6{
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}

/* reviews index */
#reviews_list{
  list-style-type: none; 
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  
  .review_info{
    padding: 10px 0 5px 0;
    margin-bottom: 20px;
    
    border-bottom: 3px #666 solid;
   
    h5, h6{
      margin-top: 0;
      margin-bottom: 5px;
    }
  } 
}

/* users index */
#users_index{
  margin: inherit 5%;
  .user_info{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 3px #666 solid;
  } 
}

/* delete @user link */
.delete_acc{
  margin-top: 5%;
  
  .delete_h{
    a{
      background-color: transparent;
      border: 3px #0ff transparent;
      
      text-decoration: none;
      
      transition: border 0.25s ease-in, color 1s ease-in, background-color 0.5s ease-out;
    }
    
    a:hover{
      background-color: #f00;
      color: #fff;
      border: 5px #f00 solid;
      
      transition: border 0.25s ease-out, color 1s ease-out, background-color 0.5s ease-in;
    }
  }
}


/* products index */
#products_list{
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
  .productLine{ 
    padding: 15px 20%;
    
    transition: background-color 0.5s ease, color 0.25s ease;
  
    &:hover{
      background-color: #444;
      color: #eee;
      
      transition: background-color 0.5s ease, color 0.25s ease;
    } 
  } 
}

/* add_to_cart_btn */
.add_to_cart_btn{
  background-color: transparent;
  border: none;
  outline: none;
}

/* forms */
form textarea{
  height: 200px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

input[type="checkbox"] {
  & + span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* miscellaneous */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}