// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin hyperlink_hover {
	color: #00AADD;
	text-decoration: underline;
}

a:hover{
    @include hyperlink_hover;
}

/*.container{
    display: block;
    width: auto;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #eee;
}*/

#storeTitle {
	font-size: 30px;
	text-decoration: overline underline;
	color: #ad3f3f;
	margin: 1.2em;
}

.storeTitle {
	font-size: 30px;
	color: #ad3f3f;
	margin: 1.2em;
}

.storeMotto {
	font-style: italic;
}


#productTable {
  margin:auto;
  border-collapse: collapse;
}
#productTable th {
  color: black;
  background-color: #ddd;
}
#productTable tr:nth-child(even) {
  background-color: #fdfdfd;
}
#productTable tr:nth-child(odd) {
  background-color: #f3f3f3;
}


/*  Account Page  */
.account_form .form_head_btn{
    display: block;
}
.acc_form_btn_outline{
    display: inline;
}

.form_head_btn {
    display: inline;
    background: transparent;
    border: 3px #3e3 solid;
    border-radius: 5px;
    padding: 10px;
    margin: none;
    
    -webkit-transition: background 0.5s ease;
}
.form_head_btn:hover {
    background: #3e3;
    
    -webkit-transition: background 0.5s ease;
}

#login_form > form{
    border: 3px black solid;
    border-radius: 5px;
    padding: 5px;
    
    div{
        margin: 1em;
    }
    
}

#signup_form > form{
    border: 3px black solid;
    border-radius: 5px;
    padding: 5px;
}

form > div{
    margin: auto;
    padding: 10px 30%;
}

form > div > label{
    text-align: center;
    display: block;
    margin: auto;
    padding: 0;
}
form > div > input[type="email"],
form > div > input[type="password"],
form > div > input[type="text"]
{
    text-align: center;
    display: block;
    margin: auto;
    padding: 0;
    height: 1.5em;
}
form > div > input[type="submit"]{
    display: block;
    margin: auto;
    padding: 10px;
    width: 100%;
    
    background-color: #3b3;
    border: 3px #3b3 solid;
    border-radius: 5px;
}
form > div > input[type="submit"]:active
{
    background-color: #282;
    
    transition: background-color 0.2s linear;
}

/*    */