<li class="row productLine">
  <%= image_tag(product.image, :alt => "Image for #{product.title}", :width => "400px", :class => "center-block") %>
  <h3 class="title"><%= product.title %></h3>
  <h6 class="price"><%= number_to_currency(product.price) %></h6>
  <h6 class="description"><%= product.description %></h6>
  <% if logged_in? %>
    <h3 class="review"><%#= link_to "Write review", 
        new_review_path(:u_id => current_user[:id], :p_id => product[:id], :p_t => product.title) %></h3>
  <% end %>
</li>