<% provide(:title, "Products") %>
<div class="jumobtron">
    <h1>Products</h1>
    <h2>Our current selection of available products</h2>
</div>

<div class="center-block">
    <%= will_paginate %>
        <ol id="products_list">
            <%= render @products %>
        </ol>
    <%= will_paginate %>
</div>