<% provide(:title, "Reviews") %>
<div class="jumobtron">
    <h1>Reviews</h1>
    <h2>Below are the 100 newest reviews</h2>
</div>

<div class="center">
    <%= will_paginate @reviews %>
</div>

<div class="row">
    <ol id="reviews_list" class="col-md-10">
        <div class="col-md-offset-2">
            <%= render @reviews %>
        </div>
    </ol>
</div>

<div class="center">
    <%= will_paginate @reviews %>
</div>