<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <h2>Welcome to the Bricked Electronics Shop!</h2>
  <p>
    We're still setting up currrently.
    In the meantime, why not enjoy this <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">video</a>?
  </p>
</div>

</body>
</html>
