<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Bricked Electronics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css"></link>
	<meta charset = "utf-8">
</head>

<body>
	<div class="headerBar">
		
		<div class="loginSpot">
			<p>Login here!</p>
		</div>
	</div>

	<h2 class="storeTitle">
		Bricked Electronics Shop
	</h2>
	
	<h5 class="storeMotto">
		Bad electronics are what we're about!
	</h5>
	
	
	<div class="products">
		<img style="margin:0 auto; display:block" src="images/download.jpg" alt="A picture of a cat." height="100"></img>
		<h4>Here's what we're selling</h4>
    	<ul>
		    <li>Televisions</li>
		    <li>Radios</li>
		    <li>Cell Phones</li>
		</ul>
	</div>
	
	<div class="userReviews">
		<table>
		    <caption>Product stock</caption>
	
			<th></th>
			<th>Televisions</th>
			<th>Radios</th>
			<th>Phones</th>
			
			<tr>
				<th>stock</th>
				<td>30</td>
				<td>15</td>
				<td>84</td>
			</tr>
		</table>
	</div>
	
</body>
</html>

